Source: ttf-syzpori-hinted
Section: unknown
Priority: optional
Maintainer: root <root@root>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.7.2
Homepage: https://github.com/peacebringer1/syzpori/

Package: ttf-syzpori-hinted
Architecture: all
Description: Syzpori font - hinted variant
